body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  line-height: 1.2;
}

/* CABECALHO (USANDO OS SELETORES CSS E NAO USANDO O QUE O SASS PERMITE)  */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
}

.fixed {
  position: fixed;
  background-color: white;
  color: black;
  z-index: 10;
}

.fixed .top-header {
  display: none;
}

.top-header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  z-index: 1;
  padding: 0 1.5%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  letter-spacing: 0px;
  color: white;
}

.top-header li {
  padding: 8px;
}
.top-header li a {
  color: white;
  font-size: 14px;
  font-weight: 50;
  text-decoration: none;
}

.top-header li:last-child {
  display: flex;
}

.top-header li:last-child img {
  height: 15px;
  margin: auto;
}

.top-header li:last-child span {
  justify-content: center;
  margin-left: 10px;
}

/* ON HOVER */
.top-header li:not(:first-child) {
  position: relative;
  cursor: pointer;
}

.top-header li span {
  position: relative;
}

.top-header li:not(:first-child) span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  bottom: -2.5px;
  left: 50%;
  background-color: white;
  border-radius: 20px;
  transition: width 0.3s ease, left 0.3s ease;
}

.top-header li:not(:first-child):hover span::after {
  width: 100%;
  left: 0;
}

/* SASS */
/* MAIN HEADER */
.main-header {
  padding: 0 1.5%;
  margin: 0;
  font-size: 16px;
  display: flex;
  -ms-flex-align: start;
  font-weight: normal;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-header li {
  position: relative;
  margin: auto 0;
  padding: 16px;
  height: -moz-fit-content;
  height: fit-content;
}
.main-header li span {
  position: relative;
}
.main-header li:not(:first-child):hover {
  cursor: pointer;
}
.main-header li:not(:first-child) > span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  bottom: -4.5px;
  left: 50%;
  background-color: white;
  border-radius: 20px;
  transition: width 0.3s ease, left 0.3s ease;
}
.main-header li:not(:first-child):hover > span::after {
  width: 100%;
  left: 0;
}
.main-header li:first-child {
  margin-right: 10px;
}
.main-header li:first-child img {
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 163px;
}
@media screen and (min-width: 1150px) {
  .main-header li:first-child img:not(#whiteLogo) {
    display: none;
  }
  .main-header li:first-child img.showImage {
    display: block !important;
  }
  .main-header li:first-child img.hideImage {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1150px) {
  .main-header li:first-child img#mediaLogo {
    display: block;
    max-width: 80px;
  }
  .main-header li:first-child img:not(#mediaLogo) {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .main-header li:first-child img#blackLogo {
    display: block;
  }
  .main-header li:first-child img:not(#blackLogo) {
    display: none;
  }
}
.main-header li:last-child {
  position: relative;
  margin: auto 1%;
  margin-left: auto;
  width: 8px;
  height: 8px;
  background-color: #72be44;
  box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.2);
  border-radius: 50%;
}
.main-header li:last-child img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 17px;
  width: 17px;
}

/* BACKGROUND */
.background-container {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  touch-action: pan-x;
}
.background-container .slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
}
.background-container .slide .image-boxshadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 40px 400px 0px #000000;
}
.background-container .slide .image-boxshadow img {
  position: absolute;
  filter: brightness(0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background-container .slide .text-container {
  position: relative;
  top: 18%;
  left: 0;
  max-width: 1188px;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
.background-container .slide .text-container .text {
  position: relative;
  overflow: hidden;
  color: white;
}
.background-container .slide .text-container .text h1 {
  position: relative;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 118%;
  font-size: 2.625rem;
}

.info-container {
  position: relative;
  max-width: 1188px;
  height: 300px;
  margin: 0 auto;
  margin-top: -200px;
}
.info-container .dots-container {
  position: relative;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
}
.info-container .dots-container div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: width 0.2s ease-in-out;
}
.info-container .dots-container .active {
  background-color: white;
  width: 20px;
  border-radius: 4px;
}
.info-container .info {
  position: relative;
  width: 100%;
  height: 280px;
  border-top: 12px solid #72be44;
  border-radius: 6px 6px 4px 4px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 7px 0 rgba(102, 102, 102, 0.19);
}

h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #2c2c2c;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 32px 0px 16px 0px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
}
.footer-links-container .oslinks {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 32px 0px 16px;
  font-weight: normal;
  font-size: 0.875rem;
}/*# sourceMappingURL=style.css.map */