body {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    line-height: 1.2;
}

@mixin animacaoBorda($espessura) {
    content: "";
    position: absolute;
    width: 0;
    height: $espessura;
    bottom: calc(-2px - $espessura);
    left: 50%;
    background-color: white;
    border-radius: 20px;
    transition: width 0.3s ease, left 0.3s ease;
}

/* CABECALHO (USANDO OS SELETORES CSS E NAO USANDO O QUE O SASS PERMITE)  */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
}

.fixed {
    position: fixed;
    background-color: white;
    color: black;
    z-index: 10;
}

.fixed .top-header {
    display: none;
}

.top-header {
    user-select: none;
    margin: 0;
    z-index: 1;
    padding: 0 1.5%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    letter-spacing: 0px;
    color: white;
}

.top-header li {
    padding: 8px;
    
    a {
        color: white;
        font-size: 14px;
        font-weight: 50;
        text-decoration: none;
    }
}

.top-header li:last-child {
    display: flex;
}

.top-header li:last-child img {
    height: 15px;
    margin: auto;
}

.top-header li:last-child span {
    justify-content: center;
    margin-left: 10px;
}

/* ON HOVER */

.top-header li:not(:first-child) {
    position: relative;
    cursor: pointer;
}

.top-header li span {
    position: relative;
}

.top-header li:not(:first-child) span::after {
    @include animacaoBorda(0.5px);
}

.top-header li:not(:first-child):hover span::after {
    width: 100%;
    left: 0;
}

/* SASS */

/* MAIN HEADER */

.main-header {
    padding: 0 1.5%;
    margin: 0;
    font-size: 16px;
    display: flex;
    -ms-flex-align: start;
    font-weight: normal;
    list-style: none;
    user-select: none;

    li {
        position: relative;
        margin: auto 0;
        padding: 16px;
        height: fit-content;

        span {
            position: relative;
        }
        
        &:not(:first-child):hover {
            cursor: pointer;
        }
        
        &:not(:first-child) > span::after {
            @include animacaoBorda(2.5px);
        }

        &:not(:first-child):hover > span::after {
            width: 100%;
            left: 0;
        }

        &:first-child {
            margin-right: 10px;
            
            img {
                margin: auto;
                width: 100%;
                height: auto;
                max-width: 163px;
                
                @media screen and (min-width: 1150px) {                    
                    &:not(#whiteLogo) {
                        display: none;
                    }

                    &.showImage {
                        display: block !important;
                    }
                    
                    &.hideImage {
                        display: none;
                    }
                }


                @media screen and (min-width: 1024px) and (max-width: 1150px) {
                    &#mediaLogo {
                        display: block; 
                        max-width: 80px;
                    }
                    
                    &:not(#mediaLogo) {
                        display: none;
                    }
                }

                @media screen and (max-width: 1024px) {
                    &#blackLogo {
                        display: block; 
                    }
                    
                    &:not(#blackLogo) {
                        display: none;
                    }
                }
            }
        }

        &:last-child {
            position: relative;
            margin: auto 1%;
            margin-left: auto;
            width: 8px;
            height: 8px;
            background-color: #72be44;
            box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.2);
            border-radius: 50%;

            img {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                height: 17px;
                width: 17px;
            }
        }
    }
}

/* BACKGROUND */
.background-container {
    position: relative;
    user-select: none;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    touch-action: pan-x;

    .slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        pointer-events: none;

        .image-boxshadow { 
            &::after { // BOX SHADOW (SOMBRA À VOLTA DA IMAGEM)
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0px 40px 400px 0px #000000;
            }

            img {
                position: absolute;
                filter: brightness(0.5);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        // TEXTO

        .text-container {
            position: relative;
            top: 18%;
            left: 0;
            max-width: 1188px;
            height: auto;
            margin: 0 auto;
            z-index: 1;
            
            .text {
                position: relative;
                overflow: hidden;
                color: white;

                h1 {
                    position: relative;
                    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
                    line-height: 118%;
                    font-size: 2.625rem;
                }
            }
        }
    }
}

.info-container {
    position: relative;
    max-width: 1188px;
    height: 300px;
    margin: 0 auto;
    margin-top: -200px;
    
    .dots-container {
        position: relative;
        display: flex;
        justify-content: right;
        width: 100%;
        height: 10px;
        margin-bottom: 10px;

        & div {
            position: relative;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            width: 8px;
            height: 8px;
            cursor: pointer;
            margin-left: 10px;
            transition: width 0.2s ease-in-out;
        }
        
        & .active {
            background-color: white;
            width: 20px;
            border-radius: 4px;
        }
    }

    .info {
        position: relative;
        width: 100%;
        height: 280px;
        border-top: 12px solid #72be44;
        border-radius: 6px 6px 4px 4px;
        background-color: #f5f5f5;
        box-shadow: 0 4px 7px 0 rgba(102, 102, 102, 0.19);
    }
}


h6{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #2c2c2c;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 32px 0px 16px 0px;
}

.footer-links-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
   
   
    .oslinks{
        list-style-type: none;
    }



    border-top: 1px solid #eee
}








// Footer
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f5f5f5;
    padding: 32px 0px 16px;
    font-weight: normal;
    font-size: 0.875rem
 
    }



